:root {
  --header-height: 3.5rem;
  /* FONT and TYPOGRAPHY */
  --biggest-font-size: 2.75rem;
  --bigger-font-size: 2.5rem;
  --big-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.815rem;
  --smaller-font-size: 0.75rem;
  /* FONTS */
  --primary-font: "Poppins", sans-serif;
  ---secondary-font: "Syne", sans-serif;
  /* COLORS */
  --primary-color: #121212;
  --secondary-color: ;
  /* SHADOW IMG */
  --shadow-img: drop-shadow(0 8px 12px hsla(0, 0%, 0%, 0.2));
}
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 5.5rem;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.815rem;
  }
}
body {
  font-size: var(--normal-font-size);
  font-family: var(--primary-font);
}
html {
  scroll-behavior: smooth;
}
a,
li,
input,
button,
textarea {
  text-decoration: none;
  color: black;
  border: none;
  outline: none;
  list-style-type: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
main {
  overflow: hidden;
}
.container {
  margin-inline: 1.5rem;
  max-width: 1150px;
}
.section {
  padding-block: 5rem 1rem;
}
.grid {
  display: grid;
  gap: 2.5rem;
}
/* NAVBAR */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 100;
}
.nav {
  display: flex;
  height: var(--header-height);
  align-items: center;
  justify-content: space-between;
}
.nav__logo > a > h2 {
  font-family: var(---secondary-font);
  font-size: var(--h3-font-size);
  background: linear-gradient(#f561b7, #a655de);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav__toggle,
.nav__close {
  font-size: var(--h2-font-size);
  color: var(--primary-color);
}
.nav__link {
  font-weight: 500;
  color: var(--primary-color);
  font-family: var(--primary-font);
  transition: all 0.4s;
}
.nav__link:hover {
  background: linear-gradient(#f561b7, #a655de);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* MOBILE AND TABLET DEVICES (NAV-MeNU) */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(0, 0%, 100%, 0.3);
    width: 75%;
    height: 100%;
    backdrop-filter: blur(34px);
    z-index: 100;
    transition: right 0.3s;
    padding: 4.5rem 0 0 3rem;
  }
  .nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
  }
  .nav__close {
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
  }
  .show-menu {
    right: 0;
  }
}
/* HOME */
.home__greetings,
.home__title {
  text-align: center;
  font-family: var(---secondary-font);
  font-weight: 600;
  color: var(--primary-color);
  font-size: var(--h1-font-size);
}
.home__desc {
  padding-block: 0.5rem;
  font-family: var(--primary-font);
  text-align: center;
}
.home__btn {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  padding-block: 0.5rem;
}
.hero__img {
  width: 450px;
}
.home__btn__second {
  background-color: white;
  border: 2px solid var(--primary-color);
  padding: 0.5rem 0.75rem;
  border-radius: 0.75rem;
  color: var(--primary-color);
  transition: all 0.4s;
  font-family: var(---secondary-font);
}
.home__btn__first {
  padding: 0.5rem 0.75rem;
  color: white;
  font-family: var(---secondary-font);
  border-radius: 0.75rem;
  background-color: var(--primary-color);
  transition: all 0.4s;
}
.home__btn > button:hover {
  transform: translateY(-1rem);
}

/* SHADOW IN HEADER DURING SCROLL */
.shadow-header {
  background-color: transparent;
}
.shadow-header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.3);
  backdrop-filter: blur(24px);
  top: 0;
  z-index: -1;
  left: 0;
}
/* ABOUT */
.about__title {
  padding-block: 0.5rem;
  text-align: center;
  font-family: var(---secondary-font);
}
.about__subtitle {
  text-align: center;
}
.about__img {
  width: 300px;
}
.about__wrapper {
  grid-template-columns: 275px;
  justify-content: center;
}
.title_2 {
  padding-top: 1rem;
}
.skills-card__container {
  display: grid;
  margin-top: 1.5rem;
  grid-template-columns: 250px;
  justify-content: center;
  row-gap: 1.5rem;
}
.skills__card__title {
  font-family: var(---secondary-font);
  background: linear-gradient(#f561b7, #a655de);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.skills__card__title p {
  padding-block: 0.75rem;
}
.skills__card {
  padding: 1rem 0.938rem;
  border-radius: 15px;
  border: 2px solid var(--primary-color);
  transition: all 0.4s ease-in-out;
}
.p {
  padding-block: 1.25rem 0.5rem;
}
.skills__card:hover {
  transform: translateY(-1rem);
}
/* .about__skills {
  text-align: center;
} */
/* PROJECTS */
.projects__title {
  font-family: var(---secondary-font);
  text-align: center;
}
.projects__desc {
  text-align: center;
}
.project__card__container {
  display: grid;
  row-gap: 1.25rem;
  margin-top: 1rem;
  justify-content: center;
  grid-template-columns: 270px;
}
.project__card {
  transition: all 0.4s;
  padding-block: 1rem 0.5rem;
}
.project__card:hover {
  transform: translateY(-1rem);
}
.project__card h2 {
  font-family: var(---secondary-font);
  padding-top: 0.25rem;
}

.project__card p {
  padding-block: 0.5rem;
}
/* SCROLLBAR */
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.75rem;
  background-color: hsl(0, 0%, 95%);
}
::-webkit-scrollbar-thumb {
  border-radius: 0.75rem;
  background-color: var(--secondary-color);
  background-image: linear-gradient(#f561b7, #a655de);
}
/* CONTACT */
.contact__container {
  grid-template-columns: 300px;
  justify-content: center;
}
.contact__textarea textarea {
  resize: none;
  margin-left: 0.15rem;
  width: 300px;
  height: 300px;
}
.contact__email input,
.contact__subject input {
  width: 100%;
}
.contact__textarea textarea,
.contact__email input,
.contact__subject input {
  background-color: var(--primary-color);
  color: white;
  font-family: var(--primary-font);
  padding: 0.74rem 0.64rem;
  margin-top: 0.5rem;
}
.contact__title {
  font-family: var(---secondary-font);
}
.contact__submit {
  display: flex;
  margin-top: 1rem;
  justify-content: flex-end;
}
.contact__submit button {
  font-family: var(---secondary-font);
  padding: 0.75rem 0.85rem;
  border-radius: 0.75rem;
}
/* FLOATING SKILLS AND SOCIALS */
.floating__nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: transparent;
  backdrop-filter: blur(24px);
}
.floating__wrapper {
  display: flex;
  padding: 0.75rem;
  justify-content: center;
  column-gap: 1rem;
}
.floating__skills i,
.floating__socials i {
  font-size: var(--h2-font-size);
}
@media screen and (max-width: 321px) {
  .container {
    margin-inline: 1rem;
  }
}
/* BREAKPOINTS */
@media screen and (min-width: 576px) {
  .home__container {
    grid-template-columns: 370px;
    justify-content: center;
  }
  .hero__img {
    width: 500px;
  }
  .skills-card__container,
  .project__card__container {
    grid-template-columns: repeat(2, 275px);
    gap: 1.5rem;
  }
  .projects__desc {
    margin-top: 0.75rem;
  }
  .contact__container {
    grid-template-columns: 500px;
  }
  .contact__textarea textarea {
    width: 500px;
  }
}
@media screen and (min-width: 768px) {
  .home__container,
  .about__wrapper {
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
  }
  .home__desc,
  .home__greetings,
  .home__title,
  .about__title,
  .about__subtitle {
    text-align: initial;
  }
  .about__content {
    margin-top: 4.5rem;
  }
  .hero__img {
    order: 2;
  }
  .title_2 {
    text-align: center;
  }
  .home__data {
    order: 1;
    margin-top: 1.5rem;
  }
  .home__btn {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
  .nav__close,
  .nav__toggle {
    display: none;
  }
  .section {
    padding-block: 7rem 2rem;
  }
  .nav {
    padding-block: 1rem;
    height: calc(var(--header-height)+ 2rem);
  }
  .nav__list {
    display: flex;
    column-gap: 2rem;
  }
  .nav__menu {
    margin-left: auto;
  }
  .home__container,
  .about__wrapper {
    grid-template-columns: 475px 600px;
    justify-content: center;
  }
  .home__data {
    margin-top: 7.5rem;
    width: 475px;
  }
  .hero__img,
  .about__img {
    width: 600px;
  }
  .skills-card__container,
  .project__card__container {
    gap: 3rem;
    grid-template-columns: repeat(3, 350px);
  }
  .skills__card {
    padding: 4.25rem 1.5rem 0.5rem 1.5rem;
  }
  .contact__container {
    grid-template-columns: 300px 500px;
  }
}
